$main-color:#9c836a !important;
$main-bg:#f9f9f9;
$main-text-color: #707070;

$green-color:#5f9ea0;


$wedt-btn-bg:#00000099;
$wedt-btn-text:#FFFFFF;
$wedt-hover-btn-bg:#555;
$wedt-hover-btn-text:#FFFFFF;

$form-btn-bg:#efece7;
$form-btn-text:#6f6f6f;
//$form-btn-text:grey;
$form-hover-btn-bg:#555;
$form-hover-btn-text:#FFFFFF;

$link-color:#148EFF;