@font-face {
  font-family: 'paypal';
  src: url('/resources/fonts/PayPalSansBig-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'jeju';
  src: url('/resources/fonts/JejuGothic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'goyang-b';
  src: url('/resources/fonts/goyang_B.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'goyang-eb';
  src: url('/resources/fonts/goyang_EB.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'goyang-ll-l';
  src: url('/resources/fonts/goyang_ll_L.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'goyang-ll-r';
  src: url('/resources/fonts/goyang_ll_R.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'nanum';
  src: url('/resources/fonts/NanumGothic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
